doctype html
html(lang="en")
  head 
    title Simple Express-Pug Example

    link(
      rel="stylesheet"
      href="/static/styles.css"
      type="text/css"
    )
      
    link(
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Geo|Varela+Round"
      type="text/css"
    )
          
    body
      #landing
        h1 Welcome to A Page Where TypeScript is Used
        #tell-us-about-you
          #form-cta
            button#button-trigger Do The Thing!
          
        .content-column
          h3 Some Text Content
          p
            | Kale chips godard palo santo enamel pin tumeric quinoa prism mixtape 
            | skateboard tbh. Kitsch narwhal photo booth craft beer.
            | Fam try-hard four loko subway tile. Kinfolk chicharrones seitan 
            | ethical. Health goth try-hard gentrify artisan affogato retro put 
            | a bird on it. Salvia sartorial gentrify, next level four dollar 
            | toast jean shorts everyday carry cliche neutra lyft glossier 
            | cold-pressed fam banjo. Cornhole mixtape kitsch taxidermy unicorn 
            | pinterest yuccie gochujang irony before they sold out plaid 
            | fingerstache dreamcatcher chartreuse flexitarian. Four loko +1 DIY, 
            | gochujang whatever bitters tote bag succulents hashtag.

              
        .content-column    
          h3 More Text Content
          p
            | 90's meggings chia literally iceland pinterest tacos plaid dreamcatcher 
            | photo booth. Next level cornhole schlitz food truck lo-fi palo santo 
            | Disrupt direct trade irony enamel pin gluten-free adaptogen. Narwhal 
            | disrupt snackwave pok pok poutine enamel pin ugh brunch. Etsy 
            | vexillologist kogi, tattooed lomo vice locavore intelligentsia. 
            | Art party celiac austin kitsch ugh craft beer. Austin actually 
            | four dollar toast, ramps slow-carb food truck coloring book
            | you probably haven't heard of them fashion axe edison bulb bushwick.


    script(src="/static/translated-scripts.js")
      
